@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Condensed Light"),
       local("RobotoCondensed-Light"),
       url("../fonts/Robotocondensedlight.woff2") format("woff2"),
       url("../fonts/Robotocondensedlight.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed Regular"),
       local("RobotoCondensed-Regular"),
       url("../fonts/Robotocondensed.woff2") format("woff2"),
       url("../fonts/Robotocondensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
       local("RobotoCondensed-Bold"),
       url("../fonts/Robotocondensedbold.woff2") format("woff2"),
       url("../fonts/Robotocondensedbold.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Bebas Neue Regular"),
       local("BebasNeue-Regular"),
       url("../fonts/BebasNeueRegular.woff2") format("woff2"),
       url("../fonts/BebasNeueRegular.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Bebas Neue Bold"),
       local("BebasNeue-Bold"),
       url("../fonts/BebasNeueBold.woff2") format("woff2"),
       url("../fonts/BebasNeueBold.woff") format("woff");
}
