$bg-white: #ffffff;
$bg-black: #000000;
$blue-zodiac: #102654;
$tawny-port: #651C52;
$blue-bayoux: #495a7d;
$torea-bay: #103aae;
$white-lilac: #f8f9fc;
$red-ribbona: #ed0233;
$loblolly: #bbc1cc;
$governor-bay: #2e35ac;
$biscay: #1c3374;
$lynch: #74819c;
$black-pearl: #030a1a;

$tablet-width: 1199px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
