.social-footer {
  @include same-list;
  display: flex;
  flex-wrap: wrap;
  width: 135px;
}

.social-footer__item {
  margin-left: 25px;
}

.social-footer__item svg {
  transition: all 0.3s ease;
}

.social-footer__item:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}

.social-footer__item:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

@media (max-width: $tablet-width) {
  .social-footer {
    width: 120px;
  }

  .social-footer__item {
    margin-left: 20px;
  }
}

@media (max-width: $mobile-width) {
  .social-footer {
    align-items: center;
    width: 145px;
  }

  .social-footer__item--vk svg {
    width: 32px;
    height: 18px;
  }

  .social-footer__item--insta svg {
    width: 27px;
    height: 27px;
  }

  .social-footer__item--fb svg {
    width: 14px;
    height: 27px;
  }

  .social-footer__item {
    margin-left: 0;
    margin-right: 35px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
